.btn {
    outline: none;
    @include transition(color 250ms ease);
    &.dark {
        background-color: transparentize($dark-color, 0.5);
        color: $light-color;
        &:hover {background-color: lighten($dark-color, 10)}
        &:active {
            background-color: darken($light-color, 5);
            color: darken($light-color, 20);
            @include box-shadow(inset 0 2px 2px rgba(0, 0, 0, 0.25));
        }
    }
    &.light {
        background-color: transparent;
        color: transparentize($dark-color, 0.6);
        text-shadow: 0 1px 0 transparentize($light-color, 0.9);
        &:hover {
            color: transparentize($dark-color, 0.4);
        }
        &:active {
            color: transparentize($dark-color, 0.8);
        }
    }
}
