.item {
    background-color: rgba(0,0,0,0);
    transition: background-color 400ms ease;
}
.item__inner {
    text-align: center;
    text-transform: uppercase;
    transition: color 400ms ease;
    p {
        transition: font-size 250ms ease, opacity 200ms linear;
    }
}
.original {
    box-shadow:
        inset 0 0 0 2px rgba(0, 0, 0, 0.5),
        inset 0 0 0 4px rgba(255, 255, 255, 0.2);
}
