@import "compass";

@include font-face("EntypoRegular", font-files(
  "entypo-webfont.woff", woff,
  "entypo-webfont.ttf", truetype,
  "entypo-webfont.svg#EntypoRegular", svg
  ), "entypo-webfont.eot");

@include font-face("FrucadeExtendedRegular", font-files(
  "fruce___-webfont.woff", woff,
  "fruce___-webfont.ttf", truetype,
  "fruce___-webfont.svg#FrucadeExtendedRegular", svg
  ), "fruce___-webfont.eot");

$light: #fff;
$dark: #1a1a1a;
$blue: #0099ff;
$red: #FF7575;

html, body {height: 100%; overflow: hidden}
body {color: $dark; background-color: $dark; font-family: 'Helvetica Neue'}

header {position: fixed; top: 0; left: 0; width: 100%; z-index: 1; height: 55px; padding-top: 5px;
  border-top: 2px solid $dark; background-color: #fff;
  @include box-shadow(0px 0px 5px rgba(0, 0, 0, .28));
  .wrapper {
    padding: 8px 0; width: 960px; margin: 0 auto;
  }
  h1 {
    font-family: 'Exo'; font-weight: 600; font-size: 20px; line-height: 25px; float: left; margin: 0; padding-top: 3px;
  }
  h2 {
    font-family: 'Exo'; font-weight: 100; font-size: 10px; line-height: 10px; padding: 13px 0 0 10px; float: left; margin: 0 25px 0 0;
  }
}

#colorpicker {opacity: 0; position: absolute; top: 0; left: 0}

.current-color-preview {
  float: left; width: 30px; height: 30px; margin: 0 10px 0 0; border: 1px solid lighten($dark, 20); border-radius: 2px;
  box-shadow:
    inset 0 1px 0 transparentize($light, 0.7),
    0 1px 0 transparentize($light, 0.9);
  @include background-image(linear-gradient(top, transparent 50%, transparentize(darken($dark, 10), 0.95) 50%));
}

.inputholder {float: left}
#input {float: left; width: 100px; border-right: none; border-radius: 2px 0 0 2px}
.update-btn {float: left; border-radius: 0 2px 2px 0}

.options {
  font-family: 'Exo'; float: left; padding: 7px 0 0 15px; font-size: 14px;
  border-left: 1px solid darken($light, 15); margin-left: 15px; height: 32px;
  @include box-sizing(border-box);
  label {margin: 0 10px; cursor: pointer}
}

.randomness {float: right}

#main .content {padding-top: 62px}

.item {cursor: pointer; color: $light; padding: 0; float: left; display: inline-block;
  @include box-sizing(border-box);
  &.original {
    > div {
      @include box-shadow( inset 0px 0px 0px 2px rgba(0, 0, 0, 1), inset 0px 0px 0px 3px rgba(255, 255, 255, 1) );
    }
  }
  &.copied {
    > div {position: relative;
      &::after {content: ""; position: absolute; left: 10px; top: 10px; width: 10px; height: 10px; border-radius: 50%;
        @include box-shadow(0px 1px 0px 0px rgba(255,255,255,.2),inset 0px 0px 0px 4px rgba(0,0,0,.1));
      }
    }
  }
}

.item-inner {height: 100%;
  @include box-sizing(border-box);
}

.upper {text-transform: uppercase}

input[type="text"] {
  font-family: 'Exo'; color: lighten($dark, 10); display: inline;
  background-color: ligthen($light, 10); border-width: 1px; border-style: solid;
  border-color:
    darken($light, 20)
    darken($light, 15)
    darken($light, 10);
  border-radius: 2px;
  line-height: 30px; padding: 0 10px;
  @include box-shadow(inset 0 1px 5px transparentize($dark, 0.9), 0 1px 0 transparentize($light, 0.9));
  @include background-clip(padding-box);
  &:focus {outline: none; border-color: transparentize($blue, 0.2);
    box-shadow: 0 0 3px transparentize($blue, 0.7); background-color: lighten($blue, 65);
  }
  &.error {border-color: $red; background-color: lighten($red, 20)}
}

button {
  border-width: 1px; border-style: solid;
  border-color:
    darken($light, 10)
    darken($light, 15)
    darken($light, 20);
  font-size: 10px; font-weight: 600; padding: 2px 10px 8px;
  background-color: $light; color: lighten($dark, 25); text-shadow: 0 1px 0 $light;
  border-radius: 2px;
  @include box-shadow(inset 0px 0px 1px 2px $light, 0 1px 0 transparentize($light, 0.9));
  @include background-image(linear-gradient(top, transparentize($light, 1) 0%, darken($light, 5) 100%));
  &:hover {background-color: #fff; color: lighten($dark, 10);
    @include background-image(linear-gradient(top, transparentize($light, 1) 0%, darken($light, 5) 100%));
  }
  &:active {color: darken($dark, 10);
    @include box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1));
    @include opacity(0.8);
  }
}

.by {
  z-index: 10001; position: absolute; bottom: 20px; right: 20px;
  font-family: 'FrucadeExtendedRegular'; font-size: 8px; color: $light;
  a {color: #3fc; text-decoration: none}
}

.overlay-background {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10001;
  background-color: rgba(0,0,0,0);
}
.overlay {position: absolute; top: 50%; left: 50%; z-index: 10001;
  opacity: 0; pointer-events: none;
  box-shadow:
    inset 0 0 0 2px rgba(255, 255, 255, 0.3),
    0 3px 20px rgba(0,0,0,0.1);
  @include transition(opacity 200ms linear);
  &.show {opacity: 1}
  &.overlay-color-copied {
    font-family: 'Exo'; font-weight: 600; font-size: 15px; line-height: 25px;
    @include box-sizing(border-box);
    height: 130px; width: 460px; margin: -65px 0 0 -230px; padding: 10px 20px; text-align: center;
    background-color: rgba(255, 255, 255, 1); border-radius: 3px; color: rgba(0,0,0,0.2); text-transform: uppercase;
    p {margin: 0}
    .dynamic-text {font-size: 40px; line-height: 50px; margin: 20px 0 0px; color: $dark; text-transform: lowercase}
  }
  &.error {background: #ff3354; color: #ffe5ea; text-shadow: 0 -1px rgba(0, 0, 0, 0.2)}
}

.entypo {font-family: "EntypoRegular"; font-size: 25px}
.clearfix::after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
