/* line 1, ../../sass/layout/checkbox.scss */
.checkbox-wrapper {
  position: relative;
  display: inline-block;
}
/* line 4, ../../sass/layout/checkbox.scss */
.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 9, ../../sass/layout/checkbox.scss */
.checkbox-wrapper span {
  position: relative;
  display: inline-block;
  top: 2px;
  width: 15px;
  height: 15px;
}
/* line 15, ../../sass/layout/checkbox.scss */
.checkbox-wrapper span:after {
  font-size: 20px;
  line-height: 15px;
  position: absolute;
  top: 1px;
  left: 3px;
}
