$dark-color: #1a1a1a;
$light-color: #F3F3F3;
$danger-color: rgb(255, 31, 64);
$focus-color: #09f;
$header-height: 64px;
$input-height: 38px;
$border-radius: 3px;
$border-color: transparentize($dark-color, 0.7);
