@import "vendor/normalize";

@import "vars";
@import "utilities";

@import "components/header";
@import 'components/button';
@import 'components/input';
@import 'components/colors-collection';
@import 'components/items';
// @import "components/checkbox";
// @import "components/modal";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.618;
  font-family: 'Roboto Mono', monospace;
  color: $dark-color;
}

svg {
  fill: currentColor;
}

a {
  color: #09f;

  &:hover {
    color: #33adff;
  }
}

main {
  display: flex;
  min-height: calc(100vh - #{$header-height});
}

input[type="color"] {
  visibility: hidden;
  position: absolute;
}

@media all and(max-width: 480px) {
}
