* {
  box-sizing: border-box;
}

.main-container {
  @include clear;
  padding: 80px 0 0 0;
}

input[type="text"] {
  border-width: 0;
}

[type="color"] {
  visibility: hidden;
  position: absolute;
}

@media all and(max-width: 480px) {
  footer,
  .preview {
    display: none;
  }

  .main-container {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
