body {
  color: $dark-color;
}

svg {
  fill: currentColor;
}

a {
  color: #09f;

  &:hover {
    color: #33adff;
  }
}

.logo {
  text-align: center;
}

.preview {
  cursor: pointer;
}

.preview__color {
  border-color: transparentize($light-color, 0.25);
  border-radius: 4px;
  transition: background-color 400ms ease;
}

[name="input"] {
  text-transform: uppercase;

  &:focus {
    background-color: transparentize($dark-color, 0.85);
  }
}

.options-wrapper {
  text-transform: uppercase;
}

.label {
  text-transform: uppercase;
}

input[type="text"] {
  outline: none;
  background-color: transparentize($dark-color, 0.9);
  color: transparentize($dark-color, 0.3);
  border-radius: 3px;

  &.error {
    background-color: rgba(255, 31, 64, .25);
    color: rgba(255, 31, 64, .65);
  }
}

