.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;

    .modal__close {
        font-size: 3em;
        line-height: .5em;
        position: absolute;
        top: 10px;
        right: 8px;
    }

    .modal__wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal__inner {
        position: relative;
        margin: 0 auto;
        padding: 25px 25px 22px;
        font-size: 0.8em;
    }

    section {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        margin: 0 0 10px;
    }

    p {
        margin: 0 0 10px;
    }

    &.credits {
        .modal__inner {
            width: 450px;
        }
        span {
            padding: 2px 5px;
        }
    }
}
