@import url(//fonts.googleapis.com/css?family=Exo:100,300,400,500,700,800,900);
@font-face {
  font-family: "Entypo";
  src: url('../../assets/fonts/entypo/entypo.ttf') format('truetype'), url('../../assets/fonts/entypo/entypo.otf') format('opentype');
}

/* line 8, ../sass/fonts.scss */
.header__right .btn,
.checkbox-wrapper span:after,
.modal__close {
  font-family: 'Entypo';
}

/* line 17, ../sass/fonts.scss */
.logo,
.input-wrapper input,
.options-wrapper,
.item__inner,
footer,
.modal {
  font-family: 'Exo', sans-serif;
}

/* line 21, ../sass/fonts.scss */
.logo__inner span {
  font-weight: 100;
}

/* line 25, ../sass/fonts.scss */
.original .item__inner {
  font-weight: 600;
}

/* line 30, ../sass/fonts.scss */
.input-wrapper input,
.checkbox-wrapper label {
  font-weight: 100;
}

/* line 33, ../sass/fonts.scss */
footer {
  font-weight: 300;
}

/* line 36, ../sass/fonts.scss */
.logo {
  font-weight: 700;
}
