body {
  background-color: #3b4a4c;
  background-image: url(../../assets/images/lightining.jpg);
  -webkit-background-size: cover cover;
          background-size: cover;
  background-position: 50%;
  color: #f3f3f3; }

.scroll::-webkit-scrollbar {
  width: 8px; }

.scroll::-webkit-scrollbar-thumb {
  background-color: #3b4a4c; }

a {
  color: #09f; }
  a:hover {
    color: #33adff; }

.app-container__inner {
  -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

header {
  background-color: rgba(243, 243, 243, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(243, 243, 243, 0.25), inset 0 0 0 4px rgba(243, 243, 243, 0.05);
          box-shadow: inset 0 1px 0 rgba(243, 243, 243, 0.25), inset 0 0 0 4px rgba(243, 243, 243, 0.05);
  border-radius: 4px 4px 0 0; }

.header__right {
  text-align: right; }
  .header__right .btn {
    width: 60px;
    height: 60px;
    margin-left: 10px; }

.logo {
  background-color: #303c3e;
  color: #f3f3f3;
  text-align: center;
  border-radius: 4px 0 0 0; }

.preview {
  cursor: pointer; }

.preview__color {
  border-color: rgba(243, 243, 243, 0.75);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 400ms ease;
          transition: background-color 400ms ease; }

[name="input"] {
  text-transform: uppercase; }

.options-wrapper {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

.main-container {
  background-color: rgba(243, 243, 243, 0.2); }

footer {
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); }
    footer a:hover {
      color: #fff; }

.label {
  text-transform: uppercase; }

input[type="text"] {
  outline: none;
  background-color: rgba(59, 74, 76, 0.2);
  color: #f3f3f3;
  border-style: none;
  border-color: rgba(243, 243, 243, 0.4);
  border-radius: 15px; }
  input[type="text"].error {
    background-color: rgba(255, 31, 64, 0.5); }

@media all and (max-width: 480px) {
  .app-container__inner {
    border-radius: 0; }

  .header__left {
    background: #303C3E; } }
