/* line 8, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-tooltip-text] {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 17, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-tooltip-text]:before, .effekt-tooltip[data-tooltip-text]:after {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 23, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-tooltip-text]:hover:before, .effekt-tooltip[data-tooltip-text]:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s 0.3s;
  transition: 0.2s 0.3s;
}

/* line 31, ../../sass/vendor/tooltip.scss */
.effekt-tooltip:after {
  content: attr(data-tooltip-text);
  position: absolute;
  border-radius: 4px;
  background: #1b3a59;
  color: white;
  padding: 5px 8px 6px;
  font-size: 11px;
  line-height: 1em;
  white-space: nowrap;
  visibility: hidden;
  z-index: 2;
}
/* line 45, ../../sass/vendor/tooltip.scss */
.effekt-tooltip:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

/* line 55, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="top"]:after,
.effekt-tooltip[data-position="bottom"]:after {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
/* line 59, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="top"]:before,
.effekt-tooltip[data-position="bottom"]:before {
  left: 50%;
  margin-left: -5px;
}

/* line 67, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="top"]:after, .effekt-tooltip[data-position="top"]:before {
  bottom: 125%;
}
/* line 70, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="top"]:before {
  border-top: 5px solid #1b3a59;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-bottom: -4px;
}
/* line 77, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="top"]:hover:before, .effekt-tooltip[data-position="top"]:hover:after {
  bottom: 115%;
}

/* line 84, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="bottom"]:after, .effekt-tooltip[data-position="bottom"]:before {
  top: 125%;
}
/* line 88, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="bottom"]:before {
  border-bottom: 5px solid #1b3a59;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-top: -4px;
}
/* line 96, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="bottom"]:hover:before, .effekt-tooltip[data-position="bottom"]:hover:after {
  top: 115%;
}

/* line 103, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="right"]:after, .effekt-tooltip[data-position="right"]:before,
.effekt-tooltip[data-position="left"]:after,
.effekt-tooltip[data-position="left"]:before {
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  margin-top: 2px;
}

/* line 112, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="right"]:after, .effekt-tooltip[data-position="right"]:before {
  left: 115%;
}
/* line 116, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="right"]:before {
  border-right: 5px solid #1b3a59;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: -4px;
}
/* line 124, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="right"]:hover:before, .effekt-tooltip[data-position="right"]:hover:after {
  left: 105%;
}

/* line 131, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="left"]:after, .effekt-tooltip[data-position="left"]:before {
  right: 115%;
}
/* line 135, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="left"]:before {
  border-left: 5px solid #1b3a59;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-right: -4px;
}
/* line 143, ../../sass/vendor/tooltip.scss */
.effekt-tooltip[data-position="left"]:hover:before, .effekt-tooltip[data-position="left"]:hover:after {
  right: 105%;
}
