/* line 3, ../../sass/skin/button.scss */
.btn {
  outline: none;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
/* line 6, ../../sass/skin/button.scss */
.btn.dark {
  background-color: rgba(59, 74, 76, 0.5);
  color: #f3f3f3;
}
/* line 9, ../../sass/skin/button.scss */
.btn.dark:hover {
  background-color: #516669;
}
/* line 10, ../../sass/skin/button.scss */
.btn.dark:active {
  background-color: #e6e6e6;
  color: silver;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 16, ../../sass/skin/button.scss */
.btn.light {
  background-color: transparent;
  color: rgba(59, 74, 76, 0.4);
  text-shadow: 0 1px 0 rgba(243, 243, 243, 0.1);
}
/* line 20, ../../sass/skin/button.scss */
.btn.light:hover {
  color: rgba(59, 74, 76, 0.6);
}
/* line 23, ../../sass/skin/button.scss */
.btn.light:active {
  color: rgba(59, 74, 76, 0.2);
}
