.checkbox-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;

    &:checked + .checkbox-ui {
      background-color: transparentize($dark-color, 0.8);

      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .checkbox-ui {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: transparentize($dark-color, 0.9);
    color: transparentize($dark-color, 0.3);
    border-radius: 3px;
    transition: background-color 250ms ease;


    &:after {
      font-size: 20px;
      line-height: 15px;
      position: absolute;
      top: 0;
      left: 3px;
      content: "\2713";
      opacity: 0;
      transform: scale(0);
      transition: transform 250ms ease, opacity 250ms ease;
    }
  }

  .checkbox-label {
    font-size: 13px;
    color: lighten($dark-color, 20);
  }
}
