.colors-collection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /**
   * CSS gradient checkerboard pattern
   * https://stackoverflow.com/questions/35361986/css-gradient-checkerboard-pattern
   */
  --cb-pattern-size: 40px;
  --cb-pattern-color: rgba(0,0,0,0.05);
  background-image:
    linear-gradient(45deg, var(--cb-pattern-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--cb-pattern-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--cb-pattern-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--cb-pattern-color) 75%);
  background-size: var(--cb-pattern-size) var(--cb-pattern-size);
  background-position: 0 0,
    0 calc(var(--cb-pattern-size) / 2),
    calc(var(--cb-pattern-size) / 2) calc((var(--cb-pattern-size) / 2) * -1),
    calc((var(--cb-pattern-size) / 2) * -1) 0;
}
