header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0 1px 0 2px rgba(0,0,0,0.05);
  z-index: 2;

  .logo {
    font-size: 24px;
  }


  [data-color-picker-btn] {
    align-items: center;
    padding: 0 0.25rem;
  }

  .preview__color {
    width: 22px;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    margin-right: 0.25rem;
    border-color: $border-color;
    border-radius: 12px;
    transition: background-color 400ms ease;
  }

  .header__input-wrapper {
    label {
      display: flex;
      align-items: center;

      &:nth-of-type(1) {
        input {
          max-width: 90px;
        }
      }

      &:nth-of-type(2) {
        padding: 0 0 0 0rem;
        input {
          max-width: 50px;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}

@media all and(max-width: 600px) {
}

@media all and(max-width: 480px) {
}
