.item {
  display: none;
  position: relative;
  flex-direction: column;
  flex: 1 1 200px;
  padding: 1.5rem 0;

  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);

  &.active {
    display: flex;
  }

  &.current-color {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  }

  &.-is-light { color: #000 }
  &.-is-dark { color: #fff }

  svg {
    display: none;
  }

  &.-is-tint svg.icon-tint { display: block }
  &.-is-shade svg.icon-shade { display: block }

  .item_percent {
    opacity: 0.5;
    display: flex;
    align-items: center;
    font-size: 0.7rem;

    & svg {
      margin-left: 0.3em;
    }
  }
}
