.checkbox-wrapper {
  position: relative;
  display: inline-block;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
  }

  .checkbox-ui {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-right: 5px;

    &:after {
      font-size: 20px;
      line-height: 15px;
      position: absolute;
      top: 0;
      left: 3px;
    }
  }


  .checkbox-label {
    font-size: 13px;
  }
}
