header {
  @include clear;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

.header__right,
.header__left {
  @include clear;
  float: left;
}

.header__left {
  width: 75%;

  .input-wrapper,
  .options-wrapper {
    padding: 10px 0 0 20px;
  }

  [name="input"] {
    width: 92px;
    padding: 5px 10px 3px;
    margin-top: 15px;
  }
}

.header__right {
  width: 25%;
  padding: 27px 20px 0 0;

  .btn {
    padding: 3px 10px 0;
    height: 26px;

    .text,
    .entypo {
      display: inline-block;
      vertical-align: top;
    }

    .text {
      font-size: 11px;
      line-height: 1.4em;
    }

    .entypo {
      font-size: 24px;
      line-height: .6em;
    }
  }
}

.logo,
.preview,
.input-wrapper,
.options-wrapper {
  float: left;
}

.logo,
.preview {
  width: 80px;
  height: 80px;
}

.logo {
  display: table;
}

.logo__inner {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
}

.preview {
  padding: 29px 0;
  width: auto;
}

.preview__color {
  height: 100%;
  padding: 10px;
  border-width: 1px;
}

.options-wrapper {
  margin-top: 20px;
  label {
    margin-right: 10px;
  }
}

@media all and(max-width: 600px) {
  .header__left {
    width: 85%;
  }

  .header__right {
    width: 15%;
    .btn .text {
      display: none;
    }
  }
}

@media all and(max-width: 480px) {
  .header__right {
    display: none;
  }

  header,
  .logo {
    height: 60px;
  }

  .logo {
    width: 60px;
  }

  .header__left {
    width: 100%;
    .input-wrapper {
      padding: 17px 10px 0 0;
    }

    [name="input"] {
      font-size: 10px;
      margin-top: 0;
      width: 70px;
    }

    .options-wrapper {
      margin-top: 0;
      font-size: 10px;
      padding: 20px 0 0;
    }
  }
}
