.btn {
  outline: none;
  border-style: solid;
  border-radius: 2px;
  transition: color 250ms ease, background-color 250ms ease;

  &.light {
    background-color: transparent;
    color: transparentize($dark-color, 0.3);
    border-color: transparentize($dark-color, 0.8);

    &:hover {
      background-color: transparentize($dark-color, 0.92);
    }

    &:active {
      color: transparentize($dark-color, 0.8);
    }
  }
}
